@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --primaryColor: #9196CA; /* Couleur principale */
  --secondaryColor: #7EC7B8; /* Couleur secondaire */
  --accentColor: #FFD700; /* Couleur accent, ici un jaune doré */
  --textColor: #FFFFFF; /* Couleur de texte, un gris foncé pour le contraste */
  --backgroundColor:  #333333; /* Couleur de fond, blanc pour la lisibilité */
  --grayColor:  #949494; /* Couleur de fond, blanc pour la lisibilité */
  --highlightColor: #F5F5DC; /* Couleur de surbrillance, un beige clair */
  --mutedColor: #ecf3ff80; /* Couleur atténuée, un gris clair pour les éléments moins importants */
  --dangerColor: #E57373; /* Couleur d'alerte, un rouge adouci */
  --warningColor: #FFB74D; /* Couleur d'avertissement, un orange adouci */
  --successColor: #1c9222; /* Couleur de succès, un vert adouci */
}


body {

  color: var(--textColor);
 font-family: 'Rubik', sans-serif;

}

/* custom-toast-styles.css */
.Toastify__toast-body {
  font-size: 12px;
  color: var(--textColor);
  
}

.Toastify__toast {
  background-color: var(--backgroundColor);
}




/* ================= Rating component ========================= */


.rating span {
margin: 0 1rem;



}

.rating svg {


  stroke-width: 2;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}


